@tailwind base;

/* Your own custom base styles */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Your own custom component styles */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img {
  width: 100%;
}

.convex {
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  /* box-shadow: 10px 10px 20px #acacac, -10px -10px 20px #ffffff; */
}